<html>
<head>
#if ( $node )
	<title>${node.getTitle()}</title>
#end
	<link rel="stylesheet" type="text/css" href="$root/~/style.css">
</head>
<body>
#if ( $node )
directory
 <h1>${node.getTitle()}</h1>
 <a href='$backlink'>Zur&uuml;ck</a><br>
<ul id="breadcrumb">
#foreach( $entry in $breadcrumb )
	<li><a href='${entry.toLink()}'>${entry.getTitle()}</a></li>
#end
</ul>
#end
<ul id="children">
#foreach( $entry in $list )
	<li class=""><a href='${entry.toLink()}'>${entry.getTitle()}</a></li>
#end
</ul>
</html></body>